@model DgsTakipSistemi.Models.CalismaPlani

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CalismaPlani</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullaniciId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullaniciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GorevAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GorevAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gun)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gun)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TamamlandiMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TamamlandiMi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
